-# frozen_string_literal: true
= simple_form_for(@game_category_schedule) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :day
    = f.input :start_time
    = f.input :end_time

  .form-actions
    = f.button :submit
