// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata
// file: tournaments index
-# .distrito-rugby-tournaments
.tournaments-breadcrumb
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/", :class => 'link'}
          .fas.fa-home
      %li.breadcrumb-item
        %a{:href => game_tournaments_path, :class => 'link' }= t('breadcrumb.tournaments')
      %li.breadcrumb-item.active{"aria-current" => "page"} Top

.tournaments-filters
  .scrollmenu

    - Tags::Tournament.all.each do |tag|
      = link_to tag.name, "/tournaments/tags/#{tag.name}", remote: true
    -# TODO: Create an array with the main tags to show. TOP of Stories

.tournaments-index
  .tournaments-index__content.col-12
    .tournaments-selection.card-columns
      - @all_tournaments.each do |tournament|
        .card
          -# = link_to(image_tag(tournament.image, width: '100%', alt: "##{tournament.name} #DistritoRugby", class: 'img-hov' ), tournament)
          .card-body
            %h5.card-title= link_to tournament.name, tournament, class: 'link'
            %p.card-text= tournament.about
