%h1 Listing game_tournaments

%table
  %thead
    %tr
      %th Name
      %th Start date
      %th End date
      %th About
      %th Country
      %th Region
      %th City
      %th Organizer
      %th
      %th
      %th

  %tbody
    - @game_tournaments.each do |game_tournament|
      %tr
        %td= game_tournament.name
        %td= game_tournament.start_date
        %td= game_tournament.end_date
        %td= game_tournament.about
        %td= game_tournament.country
        %td= game_tournament.region
        %td= game_tournament.city
        %td= game_tournament.organizer
        %td= link_to 'Show', game_tournament
        %td= link_to 'Edit', edit_game_tournament_path(game_tournament)
        %td= link_to 'Destroy', game_tournament, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Tournament', new_game_tournament_path
