.distrito-rugby-tournaments
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      %li.breadcrumb-item
        %a.link{:href => "/"}
          .fas.fa-home
      %li.breadcrumb-item
        %a.link{:href => game_tournaments_path}
          = t('breadcrumb.tournaments')
      %li.breadcrumb-item.active{"aria-current" => "page"}
        = @game_tournament.name
  .tournament-show
    .row
      .col-1
      .col-11
        .tournament-show--name
          .text-center
            = @game_tournament.name
        - if user_signed_in?
          .tournament-edit-button.float-right
            = link_to t('tournaments.edit'), edit_game_tournament_path, class: 'link'
        %hr/
        .tournament-show--date
          .float-right
            = t('common.published_on: ') + @game_tournament.created_at.strftime("%Y - %m - %d")
        -# .tournament-show--summary
        -#   = @game_tournament.summary
        -# .tournament-show--image
          = image_tag(@game_tournament.image, class: 'tournament-show--image', alt: "##{@game_tournament.name} #DistritoRugby" )
          .tournament-show--caption
            = @game_tournament.image_caption
        %br/
        .tournament-show--body
          = simple_format @game_tournament.about
        / video
        -# - if @game_tournament.emb_video.present?
          .tournament-show--video
            = @game_tournament.emb_video.html_safe
            .tournament-show--caption
              = @game_tournament.video_caption
      .col-2


-# %p#notice= notice
-#
-# %p
-#   %b Name:
-#   = @game_tournament.name
-# %p
-#   %b Start date:
-#   = @game_tournament.start_date
-# %p
-#   %b End date:
-#   = @game_tournament.end_date
-# %p
-#   %b About:
-#   = @game_tournament.about
-# %p
-#   %b Country:
-#   = @game_tournament.country
-# %p
-#   %b Region:
-#   = @game_tournament.region
-# %p
-#   %b City:
-#   = @game_tournament.city
-# %p
-#   %b Organizer:
-#   = @game_tournament.organizer
-#
-# = link_to 'Edit', edit_game_tournament_path(@game_tournament)
-# \|
-# = link_to 'Back', game_tournaments_path
