-# frozen_string_literal: true
= simple_form_for(@tournament) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :start_date
    = f.input :end_date
    = f.input :about
    = f.input :country
    = f.input :region
    = f.input :producer

  .form-actions
    = f.button :submit
