/ Project: Distrito Rugby
/ Author: Johnny Zapata - @jsamzapata

.col-12.col-lg-12.col-md-12.col-sm-12
	.main-menu
		-# .symbol
			-# .diamond
		.components
			.figure
				.case-diamond
					.diamond{:onclick => "diamondFunction()", :title => "Random Informativo"}
						/ Trigger modal
						.diamond-text{"data-target" => "#showDiamond", "data-toggle" => "modal"}
							DISTRITO RUGBY

			.areas
				.row
					.col-6.col-lg-6.col-md-6.col-sm-6
						.area.a-i
							-# area background
							.a-bg
								-# = image_tag('main/nz-news.jpg')
							.mm-option
								= link_to (I18n.t 'home.news'), news_index_path, :class => 'text-caption'
					.col-6.col-lg-6.col-md-6.col-sm-6
						.area.a-ii
							-# area background
							.a-bg
								-# = image_tag('main/nz-stories.jpg')
							.mm-option
								= link_to (I18n.t 'home.stories'), stories_path, :class => 'text-caption'
				.row
					.col-6.col-lg-6.col-md-6.col-sm-6
						.area.a-iv
							-# area background
							.a-bg
								-# = image_tag('main/nz-tournaments.jpg')
							.mm-option
								= link_to (I18n.t 'home.tournaments'), game_tournaments_path, :class => 'text-caption'
					.col-6.col-lg-6.col-md-6.col-sm-6
						.area.a-iii
							-# area background
							.a-bg
								-# add something
							.mm-option
								= link_to (I18n.t 'home.clubs'), game_clubs_path, :class => 'text-caption'
		
		-# modal to main menu
		#showDiamond.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "showDiamondModal", :role => "dialog", :tabindex => "-1"}
			.modal-dialog.modal-dialog-centered{:role => "document"}
				.modal-content
					.modal-body
						%span.float-right
							= link_to '#', class: 'label_text', "data-dismiss" => "modal" do
								%i.fas.fa-times
						%h5.text-center.mt-4
							APRENDE - COMPARTE - ENTRENA
							%BR JUEGA RUGBY
						-# Linkto Sign Up and Sign In
						.mt-5.text-center
							- if user_signed_in?
								-# link to update the profile
								.mt-3= link_to "Ver Mi Perfil", "/users/my_profile/show"
								.mt-3= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete
							- else
								= link_to('Iniciar Sesión', "/users/sign_in")
								%br
								= link_to('Registrarse', "/users/sign_up")