// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata
// file: news form

.distrito-rugby-news
  .news-form
    -# %form
    .form-group
      = simple_form_for @news do |f|
        = f.error_notification
        .news-form--caption
          = f.input :title, input_html: { class: "form-control" }, label: t('news.title')
        .news-form--caption
          = f.input :summary, input_html: { class: "form-control" }, label: t('news.summary')
        .news-form--caption
          %span= t('shared.upload_image')
          = f.file_field :image, direct_upload: true, input_html: { class: "form-control" }
        .news-form--caption
          = f.input :image_legend, input_html: { class: "form-control" }, label: t('news.image_legend')

        .news-form--caption
          = f.input :talking, input_html: { class: "form-control", minlength: '100px' }, label: t('news.talking')
        .news-form--caption
          = f.input :emb_video, input_html: { class: "form-control" }, label: t('shared.video_emb')
        .news-form--caption
          = f.input :video_legend, input_html: { class: "form-control" }, label: t('shared.video_legend')

        -# = f.simple_fields_for :tags_attributes do |p|
        -#   .news-form--caption
        -#     = p.input :name, input_html: { class: "form-control" }, label: t('news.tags.name')

        %br
        -# save
        = f.button :submit, t('common.save'), class: 'btn btn-danger btn-lg'
