// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata
// file: news edit

.distrito-rugby-edit
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/", :class => 'link'}
          .fas.fa-home
      %li.breadcrumb-item
        %a{:href => news_index_path, :class => 'link' }= t('breadcrumb.news')
      %li.breadcrumb-item
        %a{:href => news_path, :class => 'link'}= @news.title
      %li.breadcrumb-item.active{:href => edit_news_path, :class => 'breadcrumb-item active' }= t('news.edit')

  - if user_signed_in?
    %h3.text-center= t('news.edit_title')

    = render 'form', news: @news
