// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata
// file: news index
-# .distrito-rugby-news
%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => "/", :class => 'link'}
        .fas.fa-home
    %li.breadcrumb-item
      %a{:href => news_index_path, :class => 'link' }= t('breadcrumb.news')
    -# %li.breadcrumb-item.active{"aria-current" => "page"} Index

.news-filters
  .scrollmenu
    %a{:href => "#mens"} Hombres
    %a{:href => "#womens"} Mujeres
    %a{:href => "#rwc"} RWC
    %a{:href => "#womensrwc2021"} WomensRWC2021
    %a{:href => "#superrugby"} SuperRugby
    %a{:href => "#slar"} SLAR
    %a{:href => "#6naciones"} 6Naciones
    %a{:href => "#jugadores"} Jugadores
    %a{:href => "#clubes"} Clubes
    %a{:href => "#rugbyvalle"} RugbyValle
    %a{:href => "#rugbypaisa"} RugbyPaisa
    %a{:href => "#rugbybogota"} RugbyBogotá

.news-index
  .col-md-12
    .card-columns
      - @all_news.each do |news|
        .card
          = link_to(image_tag(news.image, width: '100%', alt: "##{news.title} #DistritoRugby" ), news)
          -# %img.card-img-top{:alt => "...", :src => "..."}/
          .card-body
            %h5.card-title= link_to news.title, news
            %p.card-text= news.summary
      -# .card.p-3
      -#   %blockquote.blockquote.mb-0.card-body
      -#     %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      -#     %footer.blockquote-footer
      -#       %small.text-muted
      -#         Someone famous in
      -#         %cite{:title => "Source Title"} Source Title
      -# .card
      -#   %img.card-img-top{:alt => "...", :src => "..."}/
      -#   .card-body
      -#     %h5.card-title Card title
      -#     %p.card-text This card has supporting text below as a natural lead-in to additional content.
      -#     %p.card-text
      -#       %small.text-muted Last updated 3 mins ago
      -# .card.bg-primary.text-white.text-center.p-3
      -#   %blockquote.blockquote.mb-0
      -#     %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
      -#     %footer.blockquote-footer.text-white
      -#       %small
      -#         Someone famous in
      -#         %cite{:title => "Source Title"} Source Title
      -# .card.text-center
      -#   .card-body
      -#     %h5.card-title Card title
      -#     %p.card-text This card has a regular title and short paragraphy of text below it.
      -#     %p.card-text
      -#       %small.text-muted Last updated 3 mins ago
      -# .card
      -#   %img.card-img-top{:alt => "...", :src => "..."}/
      -# .card.p-3.text-right
      -#   %blockquote.blockquote.mb-0
      -#     %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      -#     %footer.blockquote-footer
      -#       %small.text-muted
      -#         Someone famous in
      -#         %cite{:title => "Source Title"} Source Title
      -# .card
      -#   .card-body
      -#     %h5.card-title Card title
      -#     %p.card-text This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.
      -#     %p.card-text
      -#       %small.text-muted Last updated 3 mins ago

    -# .row
      .col-md-2.col-lg-2
      .col-md-10.col-lg-10
        - @all_news.each do |news|
          .news-index--space
            .col-6
              .news-index--set
                .ni--set__date
                  .fas.fa-calendar-check
                  = l(news.created_at, format: :own)
                -#= image_tag(news.image, class: 'ni--set__image')
                .ni--set__title
                  = link_to news.title, news, class: 'link'
      -# .col-md-1
