<!--/ Project: Distrito Rugby
-->
<!--/ Author: Johnny Zapata
-->
<!--/ @jsamzapata
-->
<!--/ file: news show
-->
<div class="distrito-rugby-news">
  <nav aria-label="breadcrumb">
    <!-- <div class="button-filters"> -->
      <!-- <i class="fas fa-ellipsis-v"></i> -->
      <!-- <i class="fas fa-exchange-alt"></i> -->
    <!-- </div> -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="link" href="/">
          <div class="fas fa-home"></div>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="link" href="<%= news_index_path %>">
          <%= t('breadcrumb.news') %>
        </a>
      </li>
      <li aria-current="page" class="breadcrumb-item active">
        <%= @label.present? ? @label : @news.tags_news.last.name %>
      </li>
    </ol>
  </nav>

  <div class="news-show">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-11">
        <div class="news-show--title">
          <div class="text-center">
            <%= @news.title %>
          </div>
        </div>
        <%- if user_signed_in? %>
          <div class="news-edit-button float-right">
            <%= link_to t('news.edit'), edit_news_path, class: 'link' %>
          </div>
        <%- end %>
        <hr/>
        <div class="news-show--date">
          <div class="float-right">
            <%= t('common.published_on: ') + @news.created_at.strftime("%Y - %m - %d") %>
          </div>
        </div>
        <div class="news-show--summary">
          <%= @news.summary %>
        </div>
        <div class="news-show--image">
          <%= image_tag(@news.image, class: 'news-show--image', alt: "##{@news.title} #DistritoRugby" ) %>
          <div class="news-show--caption">
            <%= @news.image_legend %>
          </div>
        </div>
        <br/>
        <div class="news-show--body">
          <%= simple_format @news.talking %>
        </div>
        <!-- video -->
        <%- if @news.emb_video.present? %>
          <div class="news-show--video">
            <%= @news.emb_video.html_safe %>
            <!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/TGXGs42EDa0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
              <div class="news-show--caption">
                <%= @news.video_legend %>
              </div>
          </div>
        <%- end %>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
