<!--/ Project: Distrito Rugby
-->
<!--/ Author: Johnny Zapata
-->
<!--/ @jsamzapata
-->
<!--/ file: news show
-->
<div class="distrito-rugby-news">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="link" href="/">
          <div class="fas fa-home"></div>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="link" href="<%= news_index_path %>">
          <%= t('breadcrumb.news') %>
        </a>
      </li>
      <li aria-current="page" class="breadcrumb-item active">
        <%= @news.title %>
      </li>
    </ol>
  </nav>
  <div class="news-show">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="news-show--title">
          <div class="text-center">
            <%= @news.title %>
          </div>
        </div>
        <%- if user_signed_in? %>
          <div class="news-edit-button float-right">
            <%= link_to t('news.edit'), edit_news_path, class: 'link' %>
          </div>
        <%- end %>
        <br>
        <hr/>
        <div class="news-show--date">
          <div class="float-right">
            <%= t('common.published_on: ') + @news.created_at.strftime("%Y - %m - %d") %>
          </div>
        </div>
        <div class="news-show--summary">
          <%= @news.summary %>
        </div>
        <%= image_tag(@news.image, class: 'news-show--image', alt: "##{@news.title} #DistritoRugby" ) %>
        <div class="news-show--body">
          <%= simple_format @news.talking %>
        </div>
        <iframe width="560" height="315" src= "<%= @news.emb_video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="news-show--video"></iframe>

      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
