.clubs-index__content.col-12
  - c = Game::Club::REGIONS[continent.to_sym]
  %h5= "Conoce los clubes registrados por federación o unión de rugby de #{c}"
  %hr

  .clubs-selection.card-columns
    -# - @clubs_by_tag.each do |club|
    - Game::Union.all.each do |union|
      .card
        - if union.logo.present?
          = image_tag(union.logo, width: '100%', alt: "##{union.name} #DistritoRugby", class: 'img-hov' )
        - else
          = image_tag("common/600x400.svg", width: '100%', alt: "##{union.name} #DistritoRugby", class: 'img-hov' )
        = link_to "/game/clubs/#{continent}/union/#{union.abbr}", class: 'link-w', remote: true do
          .card-img-overlay.d-flex.align-items-end.shadow
            .card-title-box
              .card-title
                = union.name
