.clubs-index__content.col-12
  %h5.text-center= union.name
  %hr
  %p.text-justify= union.about
  %p
    %b= "Fundada: "
    = union.founded.year
  %p
    %b= "Website: "
    = link_to union.website, union.website, target: '_blank'
  %br
  %b Clubes
  %hr

  .clubs-selection.card-columns
    - union.clubs.each do |club|
      .card
        - if club.picture != nil
          = image_tag(club.picture, width: '100%', alt: "##{club.name} #DistritoRugby", class: 'img-hov' )
        - else
          = image_tag("common/600x400.svg", width: '100%', alt: "##{club.name} #DistritoRugby", class: 'img-hov' )
        = link_to club, class: 'link-w' do
          .card-img-overlay.d-flex.align-items-end.shadow
            .card-title-box
              .card-title= club.name
