%p#notice= notice

%p
  %b Name:
  = @game_union.name
%p
  %b About:
  = @game_union.about
%p
  %b Founded:
  = @game_union.founded
%p
  %b Website:
  = @game_union.website
%p
  %b Logo:
  = @game_union.logo
%p
  %b Country:
  = @game_union.country
%p
  %b Abbr:
  = @game_union.abbr
%p
  %b Alias:
  = @game_union.alias

= link_to 'Edit', edit_game_union_path(@game_union)
\|
= link_to 'Back', game_unions_path
