%h1 Listing game_players

%table
  %thead
    %tr
      %th First name
      %th Last name
      %th Identification
      %th Birthdate
      %th Eps
      %th Weigth
      %th Height
      %th Position
      %th Phone
      %th Injuries
      %th About
      %th Email
      %th
      %th
      %th

  %tbody
    - @game_players.each do |game_player|
      %tr
        %td= game_player.first_name
        %td= game_player.last_name
        %td= game_player.identification
        %td= game_player.birthdate
        %td= game_player.eps
        %td= game_player.weigth
        %td= game_player.height
        %td= game_player.position
        %td= game_player.phone
        %td= game_player.injuries
        %td= game_player.about
        %td= game_player.email
        %td= link_to 'Show', game_player
        %td= link_to 'Edit', edit_game_player_path(game_player)
        %td= link_to 'Destroy', game_player, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Player', new_game_player_path
