.players-breadcrumb
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/", :class => 'link'}
          .fas.fa-home
      %li.breadcrumb-item
        %a{:href => game_players_path, :class => 'link' }= t('breadcrumb.players')
      %li.breadcrumb-item.active Recientes

.players-filters
  .scrollmenu
    - %w(profesional amateur juvenil).each do |c|
      = link_to c, "/game/clubs/region/#{c}", class: 'link-w', remote: true

.players-index
  .players-index__content.col-12
    %h5 Jugadores registrados recientemente
    %hr

    .card-columns
      - @game_players.each do |p|
        .card
          .card-header.text-center
            = link_to "/game/players/#{p.id}", class: 'link' do
              =p.first_name.capitalize + " " + p.last_name.capitalize
            %br
            %i= p.position.capitalize
