.player-show
  %nav.player-breadcrumb{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      %li.breadcrumb-item
        %a.link{:href => "/"}
          .fas.fa-home
      %li.breadcrumb-item
        %a.link{:href => game_player_path}
          = t('breadcrumb.players')
      %li.breadcrumb-item.active{"aria-current" => "page"}
        = @game_player.abbr_name

  .player-content
    .container
      %h2.text-center Ficha Técnica del Jugador
      .player-image
        = image_tag "https://path2buypartner.com/images/avatar.png"
      %hr
      .player-info
        %dl#player-name
          %dt
            %b Nombre completo
          %dd= @game_player.full_name
        %dl#player-birthdate
          %dt
            %b Fecha de nacimiento
          %dd= @game_player.birthdate
        - if @game_player.club_teams.present?
          %dl#player-current-club
            %dt
              %b Club actual
            %dd= link_to @game_player.club_teams.last.club.name.titleize, "/game/clubs/#{@game_player.club_teams.last.club.slug}", class: 'link'
        .player-about
          .card
            .card-body
              %b Presentación
              %p= @game_player.about
            .card-footer
              %i Redes Sociales
        -# %dl#player-position
        -#   %dt
        -#     %b Posición
        -#   %dd= @game_player

-# %p#notice= notice
