// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata

.story-form
  -# %form
  .form-group
    = simple_form_for @story do |f|
      = f.error_notification
      .story-form--caption
        = f.input :name, input_html: { class: "form-control" }, label: t('story.name')
      .story-form--caption
        = f.input :summary, input_html: { class: "form-control" }, label: t('story.summary')
      .story-form--caption
        = f.input :body, input_html: { class: "form-control", minlength: '100px' }, label: t('story.body')
      .story-form--caption
        = f.input :emb_video, input_html: { class: "form-control" }, label: t('shared.video_emb')
      .story-form--caption
        = f.input :video_caption, input_html: { class: "form-control" }, label: t('shared.video_caption')
      .story-form--caption
        %span= t('shared.upload_image')
        = f.file_field :image, direct_upload: true, input_html: { class: "form-control" }
      .story-form--caption
        = f.input :image_caption, input_html: { class: "form-control" }, label: t('story.image_caption')
      -# = f.simple_fields_for :tags_attributes do |p|
      -#   .story-form--caption
      -#     = p.input :name, input_html: { class: "form-control" }, label: t('story.tags.name')

      %br
      -# save
      = f.button :submit, t('common.save'), class: 'btn btn-danger btn-lg float-right'
