.distrito-rugby-story
  %nav.story-breadcrumb{"aria-label" => "breadcrumb"}
    -# .button-filters
      = link_to '#collapseFilter', class: 'link', 'data-toggle': 'collapse', 'role': 'button', "aria-expanded": "false", 'aria-controls': "collapseFilter" do
        %i.fas.fa-exchange-alt
    %ol.breadcrumb
      %li.breadcrumb-item
        %a.link{:href => "/"}
          .fas.fa-home
      %li.breadcrumb-item
        %a.link{:href => stories_path}
          = t('breadcrumb.stories')
      %li.breadcrumb-item.active{"aria-current" => "page"}
        = @label.present? ? @label : @story.tags_stories.last.name
    -# #collapseFilter.collapse
      - tags = %w(tagOne tagTwo tagThree tagFour)
      .stories-filters
        .scrollmenu
          - tags.each do |t|
            =link_to t, '#'
  .story-show
    .row
      .col-1
      .col-11
        .story-show--name
          .text-center
            = @story.name
        - if user_signed_in?
          .story-edit-button.float-right
            = link_to t('stories.edit'), edit_story_path, class: 'link'
        %hr/
        .story-show--date
          .float-right
            = t('common.published_on: ') + @story.created_at.strftime("%Y - %m - %d")
        .story-show--summary
          = @story.summary
        .story-show--image
          = image_tag(@story.image, class: 'story-show--image', alt: "##{@story.name} #DistritoRugby" )
          .story-show--caption
            = @story.image_caption
        %br/
        .story-show--body
          = simple_format @story.body
        / video
        - if @story.emb_video.present?
          .story-show--video
            = @story.emb_video.html_safe
            .story-show--caption
              = @story.video_caption

:javascript
  $('i.fas.fa-exchange-alt').click(function() {
    var selected = $("#collapseFilter.collapse").hasClass("show");
    if (selected) {
      console.log(selected);
    }
  });
