// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata
// file: clubs index
-# .distrito-rugby-clubs
.clubs-breadcrumb
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/", :class => 'link'}
          .fas.fa-home
      %li.breadcrumb-item
        %a{:href => game_clubs_path, :class => 'link' }= t('breadcrumb.clubs')
      %li.breadcrumb-item.active Recientes

.clubs-filters
  .scrollmenu
    - @countries.each do |c|
      = link_to c, "/game/clubs/region/#{c}", class: 'link-w', remote: true

.clubs-index
  .clubs-index__content.col-12
    %h5 Clubes registrados recientemente
    %hr
    .clubs-selection.card-columns
      - @all_clubs.each do |club|
        .card
          - if club.picture != nil
            = image_tag(club.picture, width: '100%', alt: "##{club.name} #DistritoRugby", class: 'img-hov' )
          - else
            = image_tag("common/600x400.svg", width: '100%', alt: "##{club.name} #DistritoRugby", class: 'img-hov' )

          = link_to club, class: 'link-w' do
            .card-img-overlay.d-flex.align-items-end.shadow
              .card-title-box
                .card-title= club.name
