%h1 Listing game_clubs

%table
  %thead
    %tr
      %th Name
      %th About
      %th Picture
      %th Emb location
      %th Phone
      %th Email
      %th Webpage
      %th Instagram
      %th Facebook
      %th Twitter
      %th Youtube
      %th
      %th
      %th

  %tbody
    - @game_clubs.each do |game_club|
      %tr
        %td= game_club.name
        %td= game_club.about
        %td= game_club.picture
        %td= game_club.emb_location
        %td= game_club.phone
        %td= game_club.email
        %td= game_club.webpage
        %td= game_club.instagram
        %td= game_club.facebook
        %td= game_club.twitter
        %td= game_club.youtube
        %td= link_to 'Show', game_club
        %td= link_to 'Edit', edit_game_club_path(game_club)
        %td= link_to 'Destroy', game_club, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Club', new_game_club_path
