// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata
// file: clubs show
.distrito-rugby-club
  .club-breadcrumb
    %nav{"aria-label" => "breadcrumb"}
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{:href => "/", :class => 'link'}
            .fas.fa-home
        %li.breadcrumb-item
          %a{:href => game_clubs_path, :class => 'link' }= t('breadcrumb.clubs')
        %li.breadcrumb-item.active
          = @union.class.to_s == 'Game::Union' ? @union.country.capitalize : @game_club.name

  .club-show
    .club-title= @game_club.name.titleize
    .club-show__cover
      - if @game_club.picture.present?
        = image_tag(@game_club.picture)
    .container
      .club-about
        %b Presentación
        %hr
        = @game_club.about
        %br
        %button.float-right.mt-1{class: 'btn btn-dark', 'data-toggle' => 'modal', 'data-target' => '#infoClubModal'} saber más
      .club-categories
        %b Categorías
        %hr
        .scrollmenu
          - if @game_club.club_categories.exists?
            -@game_club.club_categories.each do |cc|
              = link_to "/game/clubs/#{@game_club.id}/categories/#{cc.id}", class: 'link-w', remote: true do
                %span= cc.name.capitalize
                %span= cc.branch[0,4]

        .club-category
          - if @category.present?
            .category-info
              %dl#category-name
                %dt Categoría
                %dd= @category.name.capitalize + " " + @category.branch.capitalize
              %dl#category-coach
                %dt Head Coach
                - if @category.club_teams.present?
                  - coach = @category_teams.first.coaches.first.full_name
                - else
                  - coach = "Por Definir"
                %dd= coach
              - schedules = @category.category_schedules
              - if schedules.present?
                %p Horarios de entreno
                - schedules.each do |cs|
                  %dl#category-schedule
                    %dt= cs.day
                    %dd= cs.start_time.strftime("%H:%M") + " - " + cs.end_time.strftime("%H:%M")

            .category-teams
              - if @category.club_teams.present?
                %p
                  %b Equipos
                %ul#pills-tab-teams.nav.nav-pills.mb-3{:role => "tablist"}
                  - @category_teams.each_with_index do |ct, i|
                    - if i == 0
                      %li.nav-item
                        %a.nav-link.active{ id: "#{ct.mode}-tab","aria-controls" => "pills-home", "aria-selected" => "true", "data-toggle" => "pill", :href => "#pills-#{ct.mode}", :role => "tab"}= "Rugby " + ct.mode.to_s + "'s"
                    - else
                      %li.nav-item
                        %a.nav-link{ id: "#{ct.mode}-tab", "aria-controls" => "pills-profile", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-#{ct.mode}", :role => "tab"}= "Rugby " + ct.mode.to_s + "'s"
                #pills-tabContent-teams.tab-content
                  - @category_teams.each_with_index do |ct, i|
                    - if i == 0
                      .tab-pane.fade.show.active{ id: "pills-#{ct.mode}", "aria-labelledby" => "pills-home-tab", :role => "tabpanel"}
                        .category-team-about
                          - if ct.about.present?
                            %p= ct.about
                        .category-team-players
                          %p
                            %b Jugadores
                          - if ct.players.present?
                            .card-columns
                              - ct.players.each do |p|
                                .card
                                  .card-header.text-center
                                    = link_to "/game/players/#{p.id}", class: 'link' do
                                      =p.first_name.capitalize + " " + p.last_name.capitalize
                                    %br
                                    %i position
                          - else
                            Lo sentimos, aún no hay jugadores registrados en este equipo. Comunicate con la persona encargada!

                    - else
                      .tab-pane.fade{ id: "pills-#{ct.mode}", "aria-labelledby" => "pills-profile-tab", :role => "tabpanel"}
                        .category-team-about
                          - if ct.about.present?
                            %p= ct.about
                        .category-team-players
                          %p
                            %b Jugadores
                          - if ct.players.present?
                            .card-columns
                              - ct.players.each do |p|
                                .card
                                  .card-header.text-center
                                    = link_to "/game/players/#{p.id}", class: 'link' do
                                      =p.first_name.capitalize + " " + p.last_name.capitalize
                                    %br
                                    %i position


-# modal info club
#infoClubModal.modal.fade{'tabindex' => '-1', role: 'dialog', 'aria-labelledby' => 'infoClubModal', 'aria-hidden' => 'true'}
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h5.modal-title= @game_club.name
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        - if @game_club.emb_location.present?
          = @game_club.emb_location.html_safe
        %b Contacto
        - if @game_club.address.present?
          %p
            %i.fas.fa-home
            = @game_club.address
        - if @game_club.phone.present?
          %p
            %i.fas.fa-phone
            = @game_club.phone
        - if @game_club.email.present?
          %p
            %i.fas.fa-at
            = @game_club.email
        - if @game_club.webpage.present?
          %p
            %i.fas.fa-link
            = link_to @game_club.webpage, @game_club.webpage, target: '_blank'
        .d-flex
          - if @game_club.facebook.present?
            %p.mr-2
              = link_to @game_club.facebook, target: '_blank', class: 'link' do
                %i.fab.fa-facebook.fa-2x
          - if @game_club.instagram.present?
            %p.mr-2
              = link_to @game_club.instagram, target: '_blank', class: 'link' do
                %i.fab.fa-instagram.fa-2x
          - if @game_club.twitter.present?
            %p.mr-2
              = link_to @game_club.twitter, target: '_blank', class: 'link' do
                %i.fab.fa-twitter.fa-2x
          - if @game_club.youtube.present?
            %p.mr-2
              = link_to @game_club.youtube, target: '_blank', class: 'link' do
                %i.fab.fa-youtube.fa-2x
