%h1 Listing game_nn_teams

%table
  %thead
    %tr
      %th Name
      %th About
      %th Birthdate
      %th
      %th
      %th

  %tbody
    - @game_nn_teams.each do |game_nn_team|
      %tr
        %td= game_nn_team.name
        %td= game_nn_team.about
        %td= game_nn_team.birthdate
        %td= link_to 'Show', game_nn_team
        %td= link_to 'Edit', edit_game_nn_team_path(game_nn_team)
        %td= link_to 'Destroy', game_nn_team, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Nn team', new_game_nn_team_path
