%h1 Listing game_referees

%table
  %thead
    %tr
      %th First name
      %th Last name
      %th Identification
      %th Birthdate
      %th Eps
      %th About
      %th Phone
      %th Email
      %th
      %th
      %th

  %tbody
    - @game_referees.each do |game_referee|
      %tr
        %td= game_referee.first_name
        %td= game_referee.last_name
        %td= game_referee.identification
        %td= game_referee.birthdate
        %td= game_referee.eps
        %td= game_referee.about
        %td= game_referee.phone
        %td= game_referee.email
        %td= link_to 'Show', game_referee
        %td= link_to 'Edit', edit_game_referee_path(game_referee)
        %td= link_to 'Destroy', game_referee, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Referee', new_game_referee_path
